.reportedTable {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 550px;
    max-height: 300px;
    width: 100%;
    table-layout: fixed;
    -webkit-user-select: none;
    overflow: hidden;
    /* border-radius: 0.8rem 0.8rem 0 0; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

.reportedHeader {
    background-color: #333;
    color: white;
    padding-right: 5px;
    position: sticky;
}

.reportedTable th,
.reportedTable td {
    padding: 5px 3px;
    border-bottom: 1px solid #dddddd;
    overflow: auto;
    text-align: center;
}

.reportedTable tbody tr {
    white-space: nowrap;
}

.buttonLayer {
    display: flex;
    justify-content: center;
}

.tableScroll {
    max-height: 300px;
    overflow: auto;
}

.reportedButtonDiv {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.reportedButton {
    background-color: #333;
    border: none;
    padding: 5px;
    color: #ffffff;
    border-radius: 0.4rem;
    width: 50%;
}

.reportedButton:hover {
    background-color: #555;
    cursor: pointer;
}

.reportedCentered {
    display: flex;
    justify-content: center;
}
.reportedNL {
    display: block;
}
