.KUInput {
    font-size: 15px;
    text-align: center;
    width: 30%;
    min-width: 100px;
    height: 1.5rem;
    border: none;
    background-color: inherit;
    border-bottom: 2px black solid;
    outline: none;
    max-width: 150px;
}

.KUInput:focus {
    outline: none;
    scale: (1.1);
    font-size: 18px;
}

.explanation {
    margin-top: -1.5rem;
    max-width: 100px;
    font-size: 0.7rem;
}

.titleColumn {
    text-align: left;
    width: 20%;
    max-width: 170px;
}

.calendarContainer {
    max-width: 200px;
}

.textAreaContainer {
    max-width: 350px;
}

.pdfIcon {
    margin-left: 20px;
}

.pdfIcon:hover {
    cursor: pointer;
    color: #333;
}

.reportedCentered {
    display: flex;
    justify-content: center;
}
.reportedNL {
    display: block;
}

.reportedTable {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 550px;
    max-height: 300px;
    width: 100%;
    table-layout: fixed;
    -webkit-user-select: none;
    overflow: hidden;
    /* border-radius: 0.8rem 0.8rem 0 0; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: auto;
}

.reportedHeader {
    background-color: #333;
    color: white;
    padding-right: 5px;
    position: sticky;
}

.reportedTable th,
.reportedTable td {
    padding: 5px 3px;
    border-bottom: 1px solid #dddddd;
    overflow: auto;
    text-align: center;
}

.reportedTable tbody tr {
    white-space: nowrap;
    width: 100%;
    display: flex;
}

.buttonLayer {
    display: flex;
    justify-content: center;
}

.tableScroll {
    max-height: 250px;
    overflow: auto;
    width: 100%;
    display: block;
    flex-direction: column;
}

.reportedButtonDiv {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.reportedButton {
    background-color: #333;
    border: none;
    padding: 5px;
    color: #ffffff;
    border-radius: 0.4rem;
    width: 50%;
}

.reportedButton:hover {
    background-color: #555;
    cursor: pointer;
}

.appliedMeasuresCell {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.KUMainLeftTable {
    height: 100%;
}

.test {
    color: blue;
}
