.buttonLater {
    display: flex;
    justify-content: center;
}

.buttons {
    margin: 15px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 0.3rem;
}

.close {
    background-color: #ccc;
    color: white;
}
.close:hover {
    background-color: crimson;
}

.save {
    background-color: #333;
    color: white;
}

.save:hover {
    background-color: #555;
}

.addCriminalAct {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    column-span: 2;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
